---
import Layout from "../layouts/Layout.astro";
import WideButton from "../components/WideButton.astro";
import Form from "../components/Form.astro";
---

<Layout title="Snoodev | Design">
  <header>
    <h1>Design</h1>
  </header>
</Layout>

<style></style>

<script></script>
