---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Form from "../components/Form.astro";
---

<Layout title="Snoodev | Your next design, development & QA agency">
  <header>
    <Logo />
    <h2>Your next design, development & QA agency</h2>
  </header>

  <main>
    <Form />
    <h2>Design</h2>
    <p>
      We design. Check out our portfolio at the <a href="/portfolio"
        >link here</a
      >.
    </p>

    <h2>Development</h2>
    <p>
      We develop. Some of our biggest clients are <a
        href="https://jacksflightclub.com">Jack's Flight Club</a
      >, <a href="https://exitfest.org">Exit Festival</a>, as well as
      <a href="https://viita-watches.com/">Viita Watches</a>.
    </p>
    <h2>Quality Assurance</h2>
    <p>
      We also offer QA services for your website or app. We make the effort of
      delivering bug-free experience to your users painless.
    </p>

    <button>Let's talk</button>
  </main>
</Layout>
