---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Form from "../components/Form.astro";
import WideButton from "../components/WideButton.astro";
import Toast from "../components/Toast.astro";
---

<Layout title="Snoodev | Fast solutions for your small business">
  <header data-aos="fade-in">
    <Logo />
    <div class="hero">
      <h2>Fast solutions for your small business</h2>
    </div>
  </header>

  <Form />

  <main id="closeFormHomepage">
    <Form />
    <section data-aos="fade-in">
      <h3>Design</h3>
      <p>
        We design. Check out our portfolio at the <a href="/portfolio"
          >link here</a
        >.<br /><br />Desings are hard and we know getting your name out there
        is a challenge. We design your MVP within your budget, while still
        delivering a unique style, suited for your brand.
      </p>
    </section>

    <section data-aos="fade-in">
      <h3>Development</h3>
      <p>
        We develop. Getting your MVP functional is a skill. We aim to minimize
        your costs by offering development services suited to your business'
        budget. You don't need a forturne to get the ball rolling with your MVP!
      </p>
    </section>

    <section data-aos="fade-in">
      <h3>Consultancy</h3>
      <p>
        We also offer consultancy services for your small business
        free-of-charge. Yep, <strong><i>completely free</i></strong>!
      </p>
    </section>
  </main>

  <div data-aos="fade-in">
  <WideButton />
</div>

  <Toast />
</Layout>

<style>
  header {
    text-align: center;
  }
  .hero h2 {
    padding: 0;
    margin: 0;
  }
</style>

<script>
  const main = document.getElementById("closeFormHomepage");
  const form = document.getElementById("hello");

  main.addEventListener("click", function closeForm() {
    form.style.display = "none";
  });

  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init();
</script>
