---
import Layout from "../layouts/Layout.astro";
import WideButton from "../components/WideButton.astro";
import Form from "../components/Form.astro";
import Card from "../components/Card.astro";
---

<Layout title="Snoodev | Services">
  <header>
    <h1>What do you need help with?</h1>
  </header>

  <main>
    <div class="card-container" data-aos="fade-right">
      <Card
        href="/design"
        title="Design"
        body="If you're a small business owner, you know that design can be a huge challenge..."
      />
    </div>

    <div class="card-container" data-aos="fade-left">
      <Card
        href="/development"
        title="Development"
        body="We offer fast, quality development services for small businesses..."
      />
    </div>

    <div class="card-container" data-aos="fade-right">
      <Card
        href="/copywriting"
        title="Copywriting"
        body="We offer copywriting services that are fast and easy—and designed to get the job done right..."
      />
    </div>

    <div class="card-container" data-aos="fade-left">
      <Card
        href="/consultancy"
        title="Consultancy"
        body="Do you want to know how to make your business more successful? We're here to help!"
      />
    </div>
  </main>
  <div class="card-container" data-aos="fade-right">
    <WideButton />
  </div>
  <Form />
</Layout>

<style>
  header {
    text-align: center;
    margin-bottom: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .card-container {
    width: 100%;
  }

  h1 {
    margin-bottom: 0;
  }

  ul li {
    list-style: none;
  }

  .card {
    border: 2px solid var(--color-text);
    padding: 5%;
    border-radius: var(--border-radius);
  }
</style>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init();

  const navbarButton = document.getElementById("letstalkNavbar");
  const navbarButtonMobile = document.getElementById("letstalkNavbarMobile");
  const form = document.getElementById("hello");

  navbarButton.addEventListener("click", function openForm() {
    form.style.display = "block";
  });

  navbarButtonMobile.addEventListener("click", function openForm() {
    form.style.display = "block";
  });
</script>
