---
import Toast from "./Toast.astro";
---

<div class="form-popup" id="hello">
  <button id="closeButton">X</button>
  <form name="hello" class="form-container">
    <label for="name">Name</label>

    <input type="text" id="name" placeholder="Enter your name" />

    <label for="email">Email address</label>

    <input type="email" id="email" placeholder="name@example.com" />

    <label for="budget">What's your budget?</label>

    <input type="text" id="budget" placeholder="€500" />

    <label for="Message">Brief description of your project</label>

    <textarea id="message" placeholder="I'd like help with..." rows="10"
    ></textarea>

    <button type="button" id="submit">Submit</button>
  </form>
</div>

<Toast />

<style>
  #hello {
    display: none;
  }

  .form-popup {
    width: fit-content;
    height: fit-content;
    max-width: 15em;
    max-height: 35em;
    display: none;
    position: fixed;
    bottom: 0;
    right: 1em;
    border-radius: var(--border-radius);
    border: 2px dashed var(--color-text);
    padding: 2em;
    z-index: 9;
    background-color: var(--color-bg);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  input {
    max-width: 15em;
  }

  #name,
  #email,
  #budget {
    width: auto;
  }

  #submit {
    height: 3em;
    width: 100%;
    line-height: 1;
    margin: 0;
    padding: 1em;
  }

  #closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    position: absolute;
    top: -5px;
    right: 5px;
    width: 5px;
    height: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text);
    cursor: pointer;
    opacity: 20%;
    border-radius: var(--border-radius);
    border: 2px dashed var(--color-text);
  }

  #closeButton:hover {
    opacity: 100%;
  }

  .error {
    transition: all 0.3s;
  }

  .error.error {
    border-color: var(--color-secondary-accent);
    box-shadow: 0 0 10px var(--color-secondary-accent);
  }

  .inputHighlight {
    border-color: var(--color-accent);
    box-shadow: 0 0 10px var(--color-accent);
  }

  @media only screen and (max-width: 900px) {
    .form-popup {
      font-size: 2em;
      width: fit-content;
      height: fit-content;
      max-width: 15em;
      max-height: 35em;
      display: none;
      position: fixed;
      bottom: 0;
      right: 1em;
      border-radius: var(--border-radius);
      border: 2px dashed var(--color-text);
      padding: 2em;
      z-index: 9;
      background-color: var(--color-bg);
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    input {
      max-width: 15em;
    }

    #name,
    #email,
    #budget {
      width: auto;
    }

    #submit {
      font-size: 1em;
      height: 2em;
      width: 100%;
      line-height: 1;
      margin: 0;
      padding: 0;
    }

    #closeButton {
      top: 15px;
      right: 15px;
      width: 75px;
      height: 75px;
      font-size: 35px;
      opacity: 100%;
    }
  }
</style>

<script>
  import supabase from "../config/supabaseClient";

  const submit = document.getElementById("submit");
  const closeForm = document.getElementById("closeButton");
  const form = document.getElementById("hello");

  async function sendForm() {
    let name = document.getElementById("name").value;
    let email = document.getElementById("email").value;
    let budget = document.getElementById("budget").value;
    let message = document.getElementById("message").value;
    let toast = document.getElementById("toast");
    const { data, error } = await supabase
      .from("users")
      .insert({ name: name, email: email, budget: budget, message: message });

    if (error) {
      console.log(error);
    }

    if (data) {
      console.log(data);
    }

    toast.style.visibility = "unset";

    form.style.display = "none";

    setTimeout(function () {
      toast.style.display = "none";
    }, 3000);
  }

  // form must be filled correctly before submitted
  submit.addEventListener("click", function () {
    let name = document.getElementById("name");
    let email = document.getElementById("email");
    let budget = document.getElementById("budget");
    let message = document.getElementById("message");

    if (!name || !email || !budget || !message) {
      alert("Please fill in all the fields correctly!");
    } else sendForm();

    if (name.value === "") {
      name.classList.add("error");
    } else {
      name.classList.remove("error");
      sendForm();
    }

    if (email.value === "" || !isValidEmail(email.value)) {
      alert("Please input a valid email address!");
      email.classList.add("error");
    } else {
      email.classList.remove("error");
      sendForm();
    }

    function isValidEmail(email: string | HTMLElement) {
      const emailRegex =
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
      return emailRegex.test(email.value);
    }

    if (budget.value === "" || !isValidNumber(budget.value)) {
      alert("Please input a valid budget for your project!");
      email.classList.add("error");
    } else {
      email.classList.remove("error");
      sendForm();
    }

    function isValidNumber(budget: number | HTMLElement) {
      const numberRegex = new RegExp(/\d/);
      return numberRegex.test(budget.value);
    }

    if (message.value === "") {
      message.classList.add("error");
    } else {
      message.classList.remove("error");
      sendForm();
    }
  });

  // before submitted text validation
  let name = document.getElementById("name");
  let budget = document.getElementById("budget");
  let message = document.getElementById("message");
  const input = document.querySelector('input[type="email"]');

  input.addEventListener("focus", function () {
    if (this.value === "") {
      this.classList.add("inputHighlight");
    }
  });

  input.addEventListener("blur", function () {
    if (this.value === "") {
      this.classList.add("error");
    } else {
      this.classList.remove("inputHighlight");
      this.classList.remove("error");
    }
  });

  input.addEventListener("blur", function () {
    let isValid = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(input.value);

    if (!isValid) {
      input.classList.add("error");
    } else {
      input.classList.remove("error");
    }
  });

  name.addEventListener("focus", function () {
    if (this.value === "") {
      this.classList.add("inputHighlight");
    }
  });

  name.addEventListener("blur", function () {
    if (this.value === "") {
      this.classList.add("error");
    } else {
      this.classList.remove("inputHighlight");
      this.classList.remove("error");
    }
  });

  budget.addEventListener("focus", function () {
    if (this.value === "") {
      this.classList.add("inputHighlight");
    }
  });

  budget.addEventListener("blur", function () {
    if (this.value === "") {
      this.classList.add("error");
    } else {
      this.classList.remove("inputHighlight");
      this.classList.remove("error");
    }
  });

  budget.addEventListener("blur", function () {
    let isValid = /[0-9]/.test(budget.value);

    if (!isValid) {
      budget.classList.add("error");
    } else {
      budget.classList.remove("error");
    }
  });

  message.addEventListener("focus", function () {
    if (this.value === "") {
      this.classList.add("inputHighlight");
    }
  });

  message.addEventListener("blur", function () {
    if (this.value === "") {
      this.classList.add("error");
    } else {
      this.classList.remove("inputHighlight");
      this.classList.remove("error");
    }
  });

  closeForm.addEventListener("click", function () {
    form.style.display = "none";
  });
</script>
