---
---

<form name="hello">
  <label for="exampleFormControlInput1"> Enter Your Name</label>

  <input type="text" id="name" placeholder="Enter your name" />

  <label for="exampleFormControlInput1"> Email address</label>

  <input type="email" id="email" placeholder="name@example.com" />

  <button type="button" id="submit">Submit</button>
</form>

<script src="./form.js"></script>
