<nav class="desktop">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/pricing">Pricing</a></li>
    <li>
      <button id="letstalkNavbar">Let's talk</button>
    </li>
  </ul>
</nav>

<nav class="mobile">
  <button id="letstalkNavbarMobile">Let's talk</button>
</nav>

<style>
  .desktop {
    width: 100%;
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    margin-bottom: 0px;
    flex-wrap: nowrap;
  }

  .mobile {
    display: none;
    visibility: hidden;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
    padding-left: 3em;
    padding-right: 3em;
  }

  /* Nav Dropdown */
  nav ul li:hover ul {
    display: block;
  }

  nav ul li:active ul {
    display: block;
  }

  nav ul li ul {
    background: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: none;
    height: auto;
    left: -2px;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 1.7rem;
    white-space: nowrap;
    width: auto;
    z-index: 1;
  }

  nav ul li ul::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -0.5rem;
    height: 0.5rem;
  }

  nav ul li ul li,
  nav ul li ul li a {
    display: block;
  }

  @media only screen and (max-width: 768px) {
    .desktop {
      display: none;
      visibility: hidden;
    }
    .mobile {
      visibility: unset;
      display: flex;
      justify-content: flex-end;
      margin: 1em;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav ul li {
      display: inline-block;
      margin: 0 0.5rem;
      position: relative;
      text-align: left;
      padding-left: 3em;
      padding-right: 3em;
    }
  }
</style>

<script>
  const navbarButton = document.getElementById("letstalkNavbar");
  const navbarButtonMobile = document.getElementById("letstalkNavbarMobile");
  const form = document.getElementById("hello");

  navbarButton.addEventListener("click", function openForm() {
    form.style.display = "block";
  });

  navbarButtonMobile.addEventListener("click", function openForm() {
    form.style.display = "block";
  });
</script>
