---
---

<div class="wide-button-mobile">
  <button id="letstalk" class="wide-button">Let's talk</button>
</div>

<style>
  .wide-button {
    width: 100%;
    margin: 0;
    font-size: larger;
    font-weight: 600;
  }

  @media only screen and (max-width: 768px) {
    .wide-button-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em;
    }

    .wide-button {
      height: 3em;
      font-size: 2em;
      width: 100%;
      margin: 0;
      font-weight: 600;
    }
  }
</style>

<script>
  const button = document.getElementById("letstalk");
  const form = document.getElementById("hello");

  button.addEventListener("click", function openForm() {
    form.style.display = "block";
  });
</script>
